#root {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

input, select {
    width: 80%;
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 13px;
    background-color: #f9f9f9;
    margin: 10px 10px;
}

input {
    height: 35px; 
}

select {
    height: 35px;
}